h1{
    font-size: 5em;
    text-align: center;
}

p{
    margin-top: 2em;
    margin-bottom: 3em;
    text-align: center;
}

.linea {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.cuadro {
    margin: 1em;
    width: 10em;
    height: 10em;
    border-radius: .75rem;
}


/* #carta1:hover, #carta3:hover, .girada#carta1, .girada#carta3, */
.verde{
    background-color: green;
    border-color: green;
}


.rojo {
    background-color: red;
    border-color: red;
}

.oculto {
    background-color: blue;
    border-color: blue
}

